table{
    width: 600px;
    border-collapse: collapse;
    border: 1px solid black;
}
th, td{
    padding: 7px;
}
th{
    text-transform: uppercase;
    border-bottom: 1px solid black;
}
td{
    border: 1px solid grey;
}